ul {
  list-style: "⚾  ";
}

.title {
  display: flex;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url('./baseball.png') no-repeat center;
  background-size: contain;
  margin-right: 8px;
  position: relative;
  top: 3px;
}
